body { background: #22a64c; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 56px; display: flex; }
.block-uploader-0 { color: #cce0d1; font-size: 15px; margin-bottom: 5px; }
.block-shipping-1 { color: #1de742; font-size: 18px; margin-bottom: 5px; }
.block-router-2 { color: #87a62a; font-size: 13px; margin-bottom: 5px; }
.block-sms-3 { color: #b8aed3; font-size: 15px; margin-bottom: 5px; }
.block-sms-4 { color: #20cbd1; font-size: 16px; margin-bottom: 5px; }